# Configuração Pessoal (Padrão)
[user]
	email = samuelabrao2006@gmail.com
	name = samuka7abr

# Configurações globais que se aplicam a ambos os perfis
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

# Carregar a configuração de trabalho apenas no diretório BlueOcean
[includeIf "gitdir:/home/samuelabrao/VSCODE/BlueOcean/"]
	path = ~/.gitconfig-trabalho
