version = 3
final_space = true
console_title_template = '{{ .Shell }} in {{ .Folder }}'

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    type = 'path'
    style = 'plain'
    foreground = 'blue'
    background = 'transparent'
    template = '{{ .Path }} '

    [blocks.segments.properties]
      style = 'short'
      folder_separator_icon = '/'
      max_depth = 3
      folder_icon = ''

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    foreground = 'blue'
    background = 'transparent'
    template = '→ '

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    foreground = 'red'
    background = 'transparent'
    template = '<magenta>git:</><red>{{ .HEAD }}</><yellow>{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }}</> <cyan>{{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0 }}⇡{{ end }}</> '

    [blocks.segments.properties]
      branch_icon = ''
      fetch_status = true

  [[blocks.segments]]
    type = 'executiontime'
    style = 'plain'
    foreground = 'yellow'
    background = 'transparent'
    template = '{{ .FormattedMs }} '

    [blocks.segments.properties]
      threshold = 500

[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    type = 'time'
    style = 'plain'
    foreground = 'magenta'
    background = 'transparent'
    template = '{{ .CurrentDate | date "15:04" }}'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    background = 'transparent'
    foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']
    template = '❯ '
